.advantages {
    // padding-top: 40px;
    padding-bottom: 30px;
    background: #FFF5F6;

    @media screen and (min-width: 768px) {
        padding-bottom: 30px;
            }
        
            @media screen and (min-width: 1200px) {
                padding-bottom: 60px;
            }
}

.advantages-text {
    padding-bottom: 4px;
}


.advantages-list {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}



.advantages-list-item{
position: relative;
}

.advantages-list-item:not(:last-child) {
padding-bottom: 30px;


@media screen and (min-width: 768px) {
    padding-bottom: 0;
        }
    
        @media screen and (min-width: 1200px) {
            padding-bottom: 0;
        }
}


.advantages-milk-icon::before {
    content:"";
    // position: absolute;
    display: block;
    background-image: url(../images/advantages/milk.png);
    width: 33px; 
    height: 50px;
    background-repeat: no-repeat;
    // transform: translate(0%, -100%);

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
            }
        
            @media screen and (min-width: 1200px) {
                margin-bottom: 35px;
            }


}


.advantages-apple-icon::before {
    content:"";
    // position: absolute;
    display: block;
    background-image: url(../images/advantages/apple.png);
    width: 50px; 
    height: 50px;
    background-repeat: no-repeat;
    // transform: translate(0%, -100%);


    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
            }
        
            @media screen and (min-width: 1200px) {
                margin-bottom: 35px;
            }
}


.advantages-candy-icon::before {
    content:"";
    // position: absolute;
    display: block;
    background-image: url(../images/advantages/candy.png);
    width: 45px; 
    height: 50px;
    background-repeat: no-repeat;
    // transform: translate(0%, -100%);

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
            }
        
            @media screen and (min-width: 1200px) {
                margin-bottom: 35px;
            }
}


.advantages-text {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;

    @media screen and (min-width: 768px) {
font-size: 48px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
    }
}

.advantages-items {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    color: #000000;

    @media screen and (min-width: 768px) {
        font-size: 14px;
            }
        
            @media screen and (min-width: 1200px) {
                font-size: 16px;
            }
    
}