.contacts {
  background: linear-gradient(
    to bottom,
    #ffffff 0,
    #ffffff 302px,
    #fff5f6 302px,
    #fff5f6 100%
  );
}

.contacts__list {
  margin-bottom: 32px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts__item {
  padding: 40px 32px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 16px;

  border-radius: 4px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;

  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;

  &--cafe {
    width: 80px;
    background-color: #f0d1a5;
  }

  &--foodtruck {
    width: 130px;
    background-color: #c2e297;
  }
}

.contacts__point {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__city {
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 8px;
}

.contacts__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  max-width: 179px;
}

.contacts__workmode {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__workdays {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

.contacts__workhours {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
}

.contacts__weekdays-mode {
  margin-bottom: 8px;
}

.contacts__connections {
  padding-top: 24px;
}

.contacts__phone,
.contacts__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.contacts__buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.contacts__button-item .btn {
  width: 162px;
}

.contacts__locations-icon-red {
  margin-left: 12px;
}

.contacts__locations-icon {
  margin-left: 8px;
}
