.reviewers {
  padding-top: 60px;
  padding-bottom: 60px;
  @include tablet {
    padding-bottom: 80px;
    & .container {
      padding-left: 74px;
      padding-right: 74px;
    }
  }

  @include desktop {
    & .container {
      padding-left: 116px;
      padding-right: 116px;
    }
  }
}
.container {
}

.reviewers__wrap {
}

.reviewers__thumb {
  margin: 0 auto;
  width: 85px;
  height: 85px;
}
.reviewers__info {
  // position: relative;
  // &::before {
  //   position: absolute;
  //   top: 30;
  //   left: 53;
  //   content: '';
  //   display: block;
  //   width: 54px;
  //   height: 40px;
  //   background-image: url(../images/“.svg);
  //   background-repeat: no-repeat;
  // }
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;

  background-color: #fafafa;
  background-image: url(../images/“.svg);

  background-repeat: no-repeat;
  background-position: 53px 30px;

  text-align: center;
  @media screen and (max-width: 767px) {
    padding: 43px 50px 17px;
  }
  @include tablet {
    width: 620px;
    padding-top: 37px;
    padding-bottom: 44px;

    background-position: 15px 20px;
  }
  @include desktop {
    width: 100%;
    padding-left: 73px;
    padding-right: 73px;

    padding-top: 47px;
    padding-bottom: 39px;

    background-position: 72px 32px;
  }
}
.reviewers__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  letter-spacing: 0.04em;
  color: var(--text-color-light-backgroud);

  @include tablet {
    font-size: 14px;
    line-height: 2.16;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.86;
  }
}
.reviewers__text--area {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (max-width: 767px) {
    width: 180px;
  }
  @include tablet {
    width: 608px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @include desktop {
    width: 100%;
    padding-left: 36px;
    padding-right: 36px;
  }

  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0 28px,
    #e1e1e1 30px
  );
}

.reviewers__name {
  &::before {
    content: '';
    margin: 16 auto;
    background-image: url(../images/dots.svg);
    display: block;
    width: 32px;
    height: 4px;
  }

  margin-top: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;

  text-align: center;

  color: var(--text-color-light-backgroud);

  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 20px;
  }
}
.reviewers__dots {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 4px;
}

.swiper {
  min-width: 280px;

  min-height: 550px;

  @include tablet {
    min-height: 400px;
  }

  @include desktop {
    min-height: 400px;
  }
}
.swiper-pagination {
  --swiper-theme-color: var(--accept-color);
}

// .swiper-pagination-bullet {
//   width: 20px;
//   height: 20px;
//   text-align: center;
//   line-height: 20px;
//   font-size: 12px;
//   color: #000;
//   opacity: 1;
//   background: rgba(0, 0, 0, 0.2);
// }
// .swiper-pagination-bullet-active {
//   color: #fff;
//   background: #007aff;
// }

.swiper-pagination-bullet {
  display: inline-block;
  width: auto;
  background: transparent;

  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}

.swiper-pagination-bullet-active {
  background-color: teal;
}
