.reviewers {
  padding-top: 60px;
  padding-bottom: 60px;
  @include tablet {
    padding-bottom: 80px;
    & .container {
      padding-left: 70px;
      padding-right: 70px;
    }
  }
}
.container {
}

.reviewers__wrap {
}

.reviewers__thumb {
  margin: 0 auto;
  width: 85px;
  height: 85px;
}
.reviewers__info {
  margin-top: 32px;
  // min-height: 308px;

  background-color: #fafafa;
  background-image: url(../images/“.svg);

  background-repeat: no-repeat;
  background-position: 53px 30px;

  text-align: center;
  @media screen and (max-width: 767px) {
    padding: 43px 50px 17px;
  }

  @include tablet {
    padding-top: 37px;
    padding-bottom: 44px;
  }
}
.reviewers__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  letter-spacing: 0.04em;
  color: var(--text-color-light-backgroud);

  @include tablet {
    font-size: 14;
  }

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: -15;
  //   left: -45;

  //   display: block;
  //   width: 54px;
  //   height: 40px;
  //   background-image: url(../images/“.svg);
  // }
}
.reviewers__text--area {
  margin: 0 auto;

  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0 29px,
    #e1e1e1 31px
  );

  @media screen and (max-width: 767px) {
    width: 180px;
  }
  @include tablet {
    width: 608px;

    background-image: repeating-linear-gradient(
      to bottom,
      transparent 0 33px,
      #e1e1e1 35px
    );
  }
}
.reviewers__text--wrap {
  margin: 0 auto;
  width: 157px;

  background-image: url(../images/“.svg);

  background-repeat: no-repeat;
  background-position: top left;

  @include tablet {
    width: 514px;
  }
}

.reviewers__name {
  &::before {
    content: '';
    margin: 16 auto;
    background-image: url(../images/dots.svg);
    display: block;
    width: 32px;
    height: 4px;
  }

  margin-top: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;

  text-align: center;

  color: var(--text-color-light-backgroud);
}
.reviewers__dots {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 4px;
}

.swiper {
  min-width: 280px;
  // height: 487px;
  min-height: 550px;
}
// .swiper-pagination {
//   padding-top: 70px;
// }

// .swiper-pagination-bullet {
//   width: 20px;
//   height: 20px;
//   text-align: center;
//   line-height: 20px;
//   font-size: 12px;
//   color: #000;
//   opacity: 1;
//   background: rgba(0, 0, 0, 0.2);
// }
// .swiper-pagination-bullet-active {
//   color: #fff;
//   background: #007aff;
// }

.swiper-pagination-bullet {
  width: auto;
  background: transparent;
}
