footer {
   background-color: var(--light-coloured-backgroud);
}

.footer-up {
   padding: 80px 0 65px;
   
   @include tablet {
      padding: 40px 0;
   }

   @include desktop {
      padding: 60px 0;
   }
}

.footer-column {
   margin-bottom: 40px;

   @include tablet {
      margin: 0;
      
   }
}

.footer-column-container {
   @include tablet {
   display: flex;
   justify-content: space-between;
   }
}

.footer-title-small {
   width: 232px;
   font-family: 'Titan One';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   letter-spacing: 0px;
   text-transform: uppercase;
   margin-bottom: 16px;

   color: var(--light-accept-color);

   @include tablet {
      width: 340px;
      font-size: 26px;
      line-height: 30px;
      list-style: 0.04em;
      margin-bottom: 12px;
   }

   @include desktop {
      width: 472px;
      font-size: 30px;
      line-height: 34px;
      letter-spacing: 0.04em;
      margin-bottom: 16px;
   }
}

.footer-title-large {
   width: 200px;
   font-family: 'Titan One';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 36px;
   letter-spacing: 0.04em;
   text-transform: uppercase;

   color: var(--accept-color);
   
   @include tablet {
      margin-bottom: 40px;
      width: 340px;
      font-size: 48px;
      line-height: 55px;
      letter-spacing: 0.06em;
   }

   @include desktop {
      width: 474px;
      font-size: 58px;
      line-height: 66px;
      letter-spacing: 0.06em;
      margin-bottom: 0;
      display: inline;
   }
}

.footer-column-list {
   display: flex;
   justify-content: right;

   @include tablet {
      
   }
}

.footer-column-dawn {
   @include tablet {
      padding-top: 70px;
   }

   @include desktop {
      padding-top: 10px;
   }
}

.footer-social-item {
   margin-right: 28px;

   &:last-child {
      margin: 0;
   }
}

.footer-social-link {
   width: 32px;
   height: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   
   background-color: var(--darker-backgroud); 
   
   &:hover {
      background-color: var(--accept-color);
   }
}

.footer-social-icon__link {
   width: 20px;
   height: 20px;

}

.footer-text-column {
   margin-top: 40px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 1.8;
   text-align: right;

   color: var(--text-color-light-backgroud);

   @include tablet {
      font-size: 14px;
      line-height: 26px;
   }
}

.text-color {
   color:var(--accept-color);

   @include tablet {
      font-weight: 500;
   }
}

.footer-copy {
   text-align: center;
   border-top: 1px solid #E1E1E1;
}


.footer-copyright-text {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.5;
   max-width: 280px;
   padding: 16px 20px 3px;

   color:var(--text-color-description);
   
   @include tablet{
      display: inline-block;
      letter-spacing: 0.02em;
      width: 278px;
      padding: 8px 0 8px;
   }
}
