footer {
   background-color: var(--light-coloured-backgroud);
}

.footer-up {
   padding: 80px 0 65px;
}

.footer-column {
   margin-bottom: 40px;
}

.footer-title-small {
   width: 232px;
   font-family: 'Titan One';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   letter-spacing: 0px;
   text-transform: uppercase;
   margin-bottom: 16px;

   color: var(--light-accept-color);

}

.footer-title-large {
   width: 200px;
   font-family: 'Titan One';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 36px;
   letter-spacing: 0.04em;
   text-transform: uppercase;

   color: var(--accept-color);
}

.footer-column-list {
   display: flex;
   justify-content: right;
}

.footer-social-item {
   margin-right: 28px;

   &:last-child {
      margin: 0;
   }
}

.footer-social-link {
   width: 32px;
   height: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   
   background-color: var(--darker-backgroud);   
}

.footer-social-icon__link {
   width: 20px;
   height: 20px;

}

.footer-text-column {
   margin-top: 40px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 1.8;
   text-align: right;

   color: var(--text-color-light-backgroud);

}

.text-color {
   color:var(--accept-color);
}

.footer-copy {
   text-align: center;
   border-top: 1px solid #E1E1E1;
}

.footer-copyright-text {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.5;
   max-width: 280px;
   text-align: center;
   padding: 16px 20px 3px;

   color:var(--text-color-description);
}
