.gallery {
  background-image: linear-gradient(
    to bottom,
    var(--light-accept-color) 15%,
    #fff 15%
  );
}
.gallery-field {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .gallery-fiеld {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-fiеld {
    max-width: 1013px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  overflow: hidden;
}
.gallery-container {
  justify-content: center;
  align-items: center;
  gap: 3px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .gallery-container {
    gap: 6px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-container {
    gap: 8px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 320px;

  @include mobile {
    max-width: 480px;
  }
  @include tablet {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @include desktop {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.first-img {
  position: relative;
  top: -10px;
}
.img-gallery {
  flex-direction: column;
  gap: 3px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .img-gallery {
    gap: 6px;
  }
}

@media screen and (min-width: 1200px) {
  .img-gallery {
    gap: 8px;
  }
}

.img-gallery .photo {
  width: unset;
  border-radius: 8px;
  transition: transform 0.5s cubic-bezier(0.57, 0.21, 0.69, 3.25);
}
.img {
  max-width: 100%;
  height: auto;
  display: block;
}

.fourth-img {
  position: relative;
  top: 3px;
}
.fifth-img {
  position: relative;
  top: -8px;
}
