.hero-header {
  background-color: var(--dark-backgroud);
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    background-color: var(--darker-backgroud);
    position: absolute;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    top: 83px;
    left: 36px;
    right: 1px;
    bottom: 75px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    @media screen and(min-width: 768px) {
      width: 335px;
      height: 333px;
      top: 43px;
      left: 248px;
      right: 185px;
    }
    @media screen and (min-width: 1200px) {
      width: 534px;
      height: 534px;
      top: 54px;
      right: 189px;
      left: 557px;
      bottom: 77px;
    }
  }

  &::after {
    content: '';
    background-image: url('../images/hero-header/icecream171.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 171px;
    height: 410px;
    bottom: 0;
    top: 92px;
    left: 117px;
    right: 32px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero-header/icecream342.png);
    }
    @media screen and (min-width: 768px) {
      background-image: url('../images/hero-header/icecream143.png');
      width: 143px;
      height: 336px;
      top: 80px;
      left: 322px;
      right: 303px;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/hero-header/icecream286.png');
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url('../images/hero-header/icecream236.png');
      width: 236px;
      height: 557px;
      top: 108px;
      left: 676px;
      right: 368px;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/hero-header/icecream472.png');
      }
    }
  }
}

.hero-header__slider {
  &::before {
    @media screen and(max-width:767px) {
      display: none;
    }
    content: '';
    background-image: url('../images/hero-header/milk152.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 152px;
    height: 154px;
    left: 32px;
    bottom: 16px;
    top: 246px;
    right: 584px;
    margin-left: auto;
    margin-right: auto;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero-header/milk304.png');
    }
    @media screen and (min-width: 1200px) {
      background-image: url('../images/hero-header/milk213.png');
      width: 213px;
      height: 216px;
      bottom: 60px;
      top: 388px;
      left: 56px;
      right: 1011px;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/hero-header/milk426.png');
      }
    }
  }
  &::after {
    @media screen and(max-width:767px) {
      display: none;
    }
    content: '';
    background-image: url('../images/hero-header/tasty190.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 190px;
    height: 150px;
    bottom: 0;
    top: 265px;
    right: 32px;
    left: 546px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/hero-header/tasty380.png');
    }
    @media screen and (min-width: 1200px) {
      background-image: url('../images/hero-header/tasty304.png');
      width: 304px;
      height: 241px;
      bottom: 0;
      top: 423px;
      right: 56px;
      left: 920px;
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/hero-header/tasty608.png');
      }
    }
  }
}

.hero-header-main-nav {
  display: flex;
  align-items: center;
  padding-top: 8px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 40px;
  }
}

.hero-header-logo {
  margin-right: auto;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-right: 128px;
  }
  transition-property: filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.hero-header-logo__icon {
  width: 199px;
  height: 50px;
}

.hero-header-site-nav__list {
  display: none;
  position: relative;
  z-index: 2;
  @media screen and(min-width:1200px) {
    display: flex;
  }
}

.hero-header-site-nav__item {
  margin-right: 35px;
  &:last-child {
    margin-right: 0;
  }
}

.hero-header-site-nav__link {
  color: var(--text-color-dark-backgroud);
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  &:hover,
  &:focus {
    color: var(--accept-color);
  }
}

.hero-header-mobile-menu__button__open {
  border: none;
  background-color: transparent;
  padding: 0;

  @media screen and(min-width:1200px) {
    display: none;
  }
}

.hero-header-button__list {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
    &:last-child {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.hero-header-button__item {
  @media screen and(max-width: 767px) {
    margin-right: 0;
  }
  margin-right: 32px;
  &:last-child {
    margin-right: 0;
  }
}

.hero-header-mobile-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  transform: translateX(+101%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.is-open {
    transform: translateX(0);
    z-index: 10;
    @media screen and (max-width: 767px) {
      width: 250px;
    }
    @media screen and (min-width: 768px) {
      width: 254px;
    }

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}

.hero-header-mobile-menu-container {
  height: 100vh;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 32px;
  background-color: var(--menu-background);
}

.hero-header-mobile-menu__button__close {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  margin-bottom: 24px;
  background-color: transparent;
}

.hero-header__buy__button__icon {
  width: 4px;
  height: 8px;
  margin-left: 11px;
}

.hero-header-mobile-site-nav__item {
  margin-bottom: 23px;
  &:last-child {
    margin-bottom: 0;
  }
}

.hero-header-mobile-site-nav__link {
  color: var(--text-color-dark-backgroud);
  text-decoration: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  &:hover,
  &:focus {
    color: var(--accept-color);
  }
}

.hero-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 155px;
  @media screen and(min-width:768px) {
    padding-bottom: 185px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 307px;
  }
}

.hero-title__column {
  position: relative;
  z-index: 3;
  margin-top: 136px;
  @media screen and(min-width:768px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 60px;
  }
}

.hero__title {
  color: var(--text-color-dark-backgroud);
  font-family: var(--accept-font);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 218px;
  margin-bottom: 20px;
  &--red {
    font-size: 48px;
    line-height: 0.95;
    color: var(--accept-color);
  }
  @media screen and(min-width:768px) {
    font-size: 22px;
    line-height: 1.13;
    width: 162px;
    &--red {
      font-size: 34px;
      line-height: 0.91;
    }
  }

  @media screen and(min-width:1200px) {
    font-size: 38px;
    line-height: 1.15;
    width: 277px;
    margin-bottom: 24px;
    &--red {
      font-size: 58px;
      line-height: 0.91;
    }
  }
}

.hero-button__list {
  display: flex;
}

.hero-button__item {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }

  @media screen and(min-width:1200px) {
    margin-right: 12px;
  }
}

.hero-button {
  background-color: var(--accept-color);
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  height: 24px;
  color: var(--text-color-dark-backgroud);
  background-color: var(--accept-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  padding-left: 14px;
  padding-right: 14px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  &:hover,
  &:focus {
    color: var(--btn-lite-hover-background);
  }

  &--red {
    display: flex;
    align-items: center;
    background-color: #ffff;
    color: var(--accept-color);
    border: none;
    border-radius: 20px;
    padding: 0;
    height: 24px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 400;
    font-size: 8px;
    font-family: var(--main-font);
    line-height: 1.25;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    &:hover,
    &:focus {
      background-color: var(--btn-lite-hover-background);
    }
  }

  @media screen and(min-width:1200px) {
    height: 40px;
    padding-right: 23px;
    padding-left: 23px;
    font-size: 14px;
    line-height: 1.28;
    &--red {
      height: 40px;
      padding-right: 23px;
      padding-left: 23px;
      font-size: 14px;
      line-height: 1.28;
    }
  }
}

.hero-numbers__column {
  display: none;

  @media screen and(min-width:768px) {
    margin-top: 16px;
    display: block;
  }

  @media screen and(min-width:1200px) {
    margin-top: 68px;
  }
}

.hero__numbers__item {
  position: relative;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and(min-width:1200px) {
    margin-bottom: 15px;
  }
  &::before {
    content: '';
    background-color: #ffff;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
    border-radius: 100%;
    @media screen and(min-width:1200px) {
      width: 30px;
      height: 30px;
    }
  }
}

.hero__numbers__text {
  font-size: 8px;
  line-height: 1.25;
  color: var(--text-color-dark-backgroud);
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
  }
  &--cafes {
    font-size: 8px;
    line-height: 1.25;
    color: var(--text-color-dark-backgroud);
    text-align: right;
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.28;
    }
  }
  &--red {
    color: var(--accept-color);
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    position: relative;
    @media screen and (min-width: 1200px) {
      font-size: 46px;
      line-height: 1.15;
    }
  }

  &--foodtruks-red {
    color: var(--accept-color);
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    position: relative;
    @media screen and (min-width: 1200px) {
      font-size: 46px;
      line-height: 1.15;
    }
  }
}

.hero-header__spoiler {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero-header__spoiler__button {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 56px;
  top: 342px;
  left: 184px;
  right: 566px;
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accept-color);
  }
  @media screen and (min-width: 1200px) {
    width: 26px;
    height: 26px;
    bottom: 84px;
    top: 554px;
    left: 269px;
    right: 985px;
  }
}

.hero-header__spoiler__text {
  position: absolute;
  bottom: 81px;
  top: 287px;
  left: 184px;
  right: 470px;
  font-size: 8px;
  line-height: 1.5;
  color: var(--text-color-dark-backgroud);
  width: 114px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
  &--easter {
    display: none;
    width: 500px;
    z-index: 8;
    &.is-open {
      display: block;
    }
  }
  @media screen and(min-width:1200px) {
    font-size: 14px;
    line-height: 1.4;
    bottom: 130px;
    top: 456px;
    left: 269px;
    right: 811px;
    width: 200px;
  }
}

.hero-header__spoiler__icon {
  height: 40px;
  fill: var(--accept-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .hero-header__spoiler__button:hover &,
  .hero-header__spoiler__button:focus & {
    fill: var(--text-color-dark-backgroud);
  }
}
