:root {
    --main-font: 'DM Sans', sans-serif;
    --accept-font: 'Titan One', cursive;
    --accept-color: #D41443;
    --light-accept-color: #FFA5BA;
    --text-color-description: #907E82;
    --text-color-light-backgroud: #000000;
    --text-color-dark-backgroud: #ffffff;
    --btn-lite-hover-background: #ECEBEB;
    --light-coloured-backgroud: #FFF5F6;
    --lighter-backgroud: #E5E5E5;
    --dark-backgroud: #FFB8CA;
    --darker-backgroud: #FFA5BA;
    --menu-background: #E17992;
}