<!-- About-->
<section id="about" class="about">
    <div class="container"> 

        <p class="about-over-text" >tradition and love</h3>
            <!-- data-aos="fade-right" -->
        <h2 class="about-title" >how it’s made?</h2>
        <!-- data-aos="fade-left" -->
        <div class="about-content">
            <picture >
                <source 
                    srcset="
                        ./images/about/desk/about-d1.png 1x,
                        ./images/about/desk/about-d2.png 2x
                    "
                    media="(min-width: 1200px)"
                >

                <source 
                    srcset="
                        ./images/about/tab/about-t1.png 1x,
                        ./images/about/tab/about-t2.png 2x
                    "
                    media="(min-width: 768px)"
                >

                <source 
                    srcset="
                        ./images/about/mob/about-m1.png 1x,
                        ./images/about/mob/about-m2.png 2x
                    "
                    media="(min-width: 320px)"
                >
                <img class="about-caw"              
                src="./images/about/desk/about-d1.png" 
                alt="a jug of milk and a cow"
                width="280"
                height="279"
                >  
            </picture>
            <!-- data-aos="zoom-in" -->

            

            <div class="about-content-inform">
                <p class="main-text" >Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas
                    eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <!-- data-aos="flip-left" -->
                
                <p class="base-text" >Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, <br class="br">
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <!-- data-aos="flip-right" -->

                
                    <button type="button" class="about-btn"><a href="#popup">Read more</a>
                        <svg class="btn-icon">
                            <use class="" href="./images/about/about-icon/about-icons-btn.svg#icon-btn-about-arrow"></use>
                        </svg>
                    </button>
                
                
                
                <!-- data-aos="flip-up" -->
            </div>                       
            
        </div> 
    </div>

    <div id="popup" class="popup">
        <a href="#about" class="popup__area"></a>
        <div class="popup__body">
            <div class="popup__content">
                <a href="#about" class="popup__close">X
                    <!-- <svg class="popup__icon-btn">
                        <use class="" href="./images/popup-close.svg#icon-popup-btn-close"></use>
                    </svg> -->
                </a>
                <p class="popup__maintitle">12 Types of Ice Cream You Should Know and Sample</p>
                <ul class="popup__list">
                    <li class="popup__item">
                        <p class="popup__title">1. Gelato</p>
                        <p class="popup__text">
                            Unlike American ice cream, gelato—a frozen dessert from Italy—is made with whole milk rather than cream and contains no
                            eggs. As a result, this slow-churned treat takes on a denser, almost stretchy consistency. Gelato is available in a wide
                            range of flavors, but some popular picks are cream, cioccolato (chocolate), stracciatella (vanilla with chocolate
                            flecks) and pistacchio (pistachio).
                        </p>                 
                        <p class="bopup__price">Buy it ($4)</p>
                    </li>

                    <li class="popup__item">
                        <p class="popup__title">2. Kulfi</p>
                        <p class="popup__text">
                            This traditional Indian ice cream is made by slowly heating sweetened milk until the sugar caramelizes and the milk
                            condenses; the mixture is then frozen in cone-shaped molds without first being whipped or churned. As a result, kulfi is
                            denser and creamier than American ice cream, with a custard-like quality that lends itself well to being served on a
                            stick. Kulfi is frequently flavored with aromatics like cardamom, rose or saffron and popular flavors include mango and
                            pistachio.
                        </p>
                        <p class="bopup__price">Buy it ($4)</p>
                        
                    </li>

                    <li class="popup__item">
                        <p class="popup__title">3. Sherbet</p>
                        <p class="popup__text">
                            Sherbet is a frozen treat made from fruit purée, plus a scant amount of dairy. Indeed, although sherbet is always made
                            with some form of dairy—be it milk, cream or even buttermilk—the resulting dessert is distinct from ice cream in that it
                            contains only 1 to 2 percent milkfat, as compared to the 10 percent milkfat found in the latter. As such, sherbet is
                            only slightly creamy and considerably lighter than good ol’ fashioned ice cream.
                        </p>
                        <p class="bopup__price">Buy it ($3)</p>
                        
                    </li>

                    <li class="popup__item">
                        <p class="popup__title">4. Sorbet</p>
                        <p class="popup__text">
                            In contrast to sherbet, sorbet is a fruit-forward frozen treat with no dairy whatsoever. In fact, sorbet traditionally
                            consists of only two ingredients—fruit puree and sugar—that are then churned and frozen in the same manner as ice cream.
                            The absence of dairy accounts for the rough and flaky texture of sorbet, as well as the fact that it’s served not only
                            as a dessert, but also as a palate cleanser between courses.
                        </p>
                        <p class="bopup__price">Buy it ($4)</p>
                        
                    </li>

                    <li class="popup__item">
                        <p class="popup__title">5. Frozen Yogurt</p>
                        <p class="popup__text">
                            Sweet and mildly tangy, frozen yogurt is a relatively low-calorie soft serve-style dessert that consists of sweetened
                            yogurt, along with other dairy or non-dairy ingredients…though if you were alive in the 90s, you already knew that.
                            Although the fad has since died down, fro-yo remains a very popular dessert that can be found in a wide range of
                            flavors, sprinkled with whatever your sweet tooth craves.
                        </p>
                        <p class="bopup__price">Buy it ($4)</p>
                        
                    </li>

                    <li class="popup__item">
                        <p class="popup__title">6. Soft Serve</p>
                        <p class="popup__text">
                            You won’t find this one in the frozen foods section of the grocery store, but wherever there’s a fair, carnival or ice
                            cream truck, you’ll find folks lining up for soft serve. This type of ice cream is a rapidly churned blend of milk and
                            sugar (no eggs) with a light and airy texture, perfect for swirling into a cone or cup—just be sure to make short work
                            of it, because it will melt faster than ice cream.
                        </p>
                        <p class="bopup__price">Buy it ($4)</p>
                        
                    </li>

                    <li class="popup__item">
                        <p class="popup__title">7. Philadelphia Ice Cream</p>
                        <p class="popup__text">
                            As the name suggests, this type of ice cream hails from the City of Brotherly Love. Philadelphia ice cream is made
                            without eggs for an end result that’s lighter and quicker to make than its traditional custardy counterpart, but every
                            bit as flavorful. The lack of eggs results in a velvety, airy texture that really lets the flavors shine.
                        </p>    
                        <p class="bopup__price">Buy it ($4)</p>
                        
                    </li>

                    <li class="popup__item">
                        <p class="popup__title">8. Rolled Ice Cream</p>
                        <p class="popup__text">
                            This type of ice cream hails from Thailand and is a popular street food throughout Southeast Asia. Here, the standard
                            ingredients (milk, cream, sugar) are heated, aerated and rapidly cooled to produce Swiss roll-style ribbons of ice cream
                            that can be served upright in a cup and finished with a wide variety of toppings. The process is fascinating to watch
                            and the finished product tastes as good as it looks.
                        </p>
                        <p class="bopup__price">Buy it ($4)</p>
                        
                    </li>

                    <li class="popup__item">
                        <p class="popup__title">9. Snow Cream</p>
                        <p class="popup__text">
                            Head to Taiwan to indulge in this pillowy mountain of creamy deliciousness—a pile of fluffy and delicate strips of ice
                            cream, shaved off a massive block of the stuff. The most popular toppings, which include sweetened condensed milk, fresh
                            fruit and chocolate, are just the icing on the snow cream cake.
                        </p>
                        <p class="bopup__price">Buy it ($4)</p>
                        
                    </li>

                    <li class="popup__item">
                        <p class="popup__title">10. Italian Ice</p>
                        <p class="popup__text">
                            Derived from the Sicilian granita, this style of frozen dessert is dairy-free and has a lot in common with sorbet in
                            terms of its ingredients and the way in which it is made. There is a slight difference in texture, however; Italian ice
                            is, well, icier, while sorbet has a smoother mouthfeel. Bonus: Although fruit flavors are the most common options,
                            chocolate Italian ice is indeed a thing.
                        </p>
                        <p class="bopup__price">Buy it ($3)</p>
                        
                    </li>

                    <li class="popup__item">
                        <p class="popup__title">11. Dondurma</p>
                        <p class="popup__text">
                            Divinely creamy and dense enough you could eat it with a fork and knife, this Turkish treat is unlike any kind of ice
                            cream you’ve ever tasted. Mastic—an (edible) organic glue made from the resin of the mastic tree—is the secret
                            ingredient responsible for the elastic, taffy-like consistency of dondurma. This frozen dessert also comes in a wide
                            variety of flavors…if you’re lucky enough to come across it, that is.
                        </p>
                        <p class="bopup__price">Buy it ($4)</p>
                        
                    </li>

                    <li class="popup__item">
                        <p class="popup__title">12. Mochi</p>
                        <p class="popup__text">
                            Japan, the last stop on our global ice cream tour, is the country responsible for these cuties—petite rice cakes made
                            with (yep, you guessed it) mochi dough and filled with frozen, creamy goodness. It’s like an ice cream sandwich, but
                            with a satisfyingly chewy texture and decidedly more visual appeal.
                        </p>
                        <p class="bopup__price">Buy it ($5)</p>
                        
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
</section>