<section class="advantages" id="advantages">
    <div class=" advantages-container container">
        <h2 class="visually-hidden"> Наши преимущества</h2>
<ul class="advantages-list">
    <li class="advantages-list-item  advantages-milk-icon">
        <h3 class="advantages-text">
        721
        </h3>
        <p class="advantages-items">
            721 раз мы перемешиваем молоко, чтобы оно стало еще гуще!
        </p>
    </li>
    <li class="advantages-list-item advantages-apple-icon">
        <h3 class="advantages-text">
        16 kg
        </h3>
        <p class="advantages-items">
            Только качественное молоко и мороженно. 16 килограм удовольствия для каждого. 
        </p>
    </li>
    <li class="advantages-list-item advantages-candy-icon">
        <h3 class="advantages-text">
        84
        </h3>
        <p class="advantages-items">
            84 довольных покупателя. Знаем, этого мало - но мы растем!
        </p>
    </li>
</ul>
    </div>
</section>