<section class="advantages" id="advantages">
    <div class=" advantages-container container">
        <h2 class="visually-hidden"> Наши преимущества</h2>
<ul class="advantages-list">
    <li class="advantages-list-item  advantages-milk-icon">
        <h3 class="advantages-text">
        721
        </h3>
        <p class="advantages-items">
            UAH per month is your advertisement here.
        </p>
    </li>
    <li class="advantages-list-item advantages-apple-icon">
        <h3 class="advantages-text">
        16 kg
        </h3>
        <p class="advantages-items">
            Just drink milk every day, and you'll lose 16 kg of weight 
        </p>
    </li>
    <li class="advantages-list-item advantages-candy-icon">
        <h3 class="advantages-text">
        84
        </h3>
        <p class="advantages-items">
            Pull requests created.
            At the same time, not a single cow was harmed.
        </p>
    </li>
</ul>
    </div>

</section>