<section class="advantages">
    <div class=" advantages-container container">

    <ul>
        <li>
        <picture>
            <img alt="721">
        </picture>
        </li>

        <li>
            <picture>
                <img alt="16kg">
            </picture>
            </li>

            <li>
                <picture>
                    <img alt="84">
                </picture>
                </li>
    </ul>

<ul>
    <li>
        <h3>
        721 раз мы перемешиваем молоко, чтобы оно стало еще гуще!
        </h3>
    </li>
    <li>
        <h3>
        Только качественное молоко и мороженно. 16 килограм удовольствия для каждого. 
        </h3>
    </li>
    <li>
        <h3>
        84 довольных покупателя. Мы знаем, этого мало - но мы растем!
        </h3>
    </li>
</ul>
    </div>
</section>