<section class="contacts-cards section">
  <h1 class="visually-hidden">Contacts</h1>
  <!-- title to be hidden -->
  <ul class="contacts-cards__list list">
    <li class="contacts-cards__item">
      <h2 class="contacts-cards__title">CAFE</h2>
      <div class="contacts-cards__point">
        <h3 class="contacts-cards__city">Chicago</h3>
        <p class="contacts-cards__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <div class="contacts-cards__workmode">
        <p class="contacts-cards__workdays">Monday - Friday</p>
        <p class="contacts-cards__workhours">06:00 AM - 10:00 PM</p>
        <p class="contacts-cards__workdays">Saturday - Sunday</p>
        <p class="contacts-cards__workhours">08:00 AM - 16:00 PM</p>
      </div>
      <div>
        <a href="tel:+610383766284" class="contacts-cards__phone">
          +61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contacts-cards__mail"
          >noreply@envato.com</a
        >
      </div>
    </li>

    <li class="contacts-cards__item">
      <h2 class="contacts-cards__title">FOOD TRUCK</h2>
      <div class="contacts-cards__point">
        <h3 class="contacts-cards__city">Los Angeles</h3>
        <p class="contacts-cards__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <div class="contacts-cards__workmode">
        <p class="contacts-cards__workdays">Monday - Friday</p>
        <p class="contacts-cards__workhours">06:00 AM - 10:00 PM</p>
        <p class="contacts-cards__workdays">Saturday - Sunday</p>
        <p class="contacts-cards__workhours">08:00 AM - 16:00 PM</p>
      </div>
      <div>
        <a href="tel:+610383766284" class="contacts-cards__phone">
          +61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contacts-cards__mail">
          noreply@envato.com</a
        >
      </div>
    </li>

    <li class="contacts-cards__item">
      <h2 class="contacts-cards__title">CAFE</h2>
      <div class="contacts-cards__point">
        <h3 class="contacts-cards__city">New York</h3>
        <p class="contacts-cards__description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <div class="contacts-cards__workmode">
        <p class="contacts-cards__workdays">Monday - Friday</p>
        <p class="contacts-cards__workhours">06:00 AM - 10:00 PM</p>
        <p class="contacts-cards__workdays">Saturday - Sunday</p>
        <p class="contacts-cards__workhours">08:00 AM - 16:00 PM</p>
      </div>
      <div>
        <a href="tel:+610383766284" class="contacts-cards__phone">
          +61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="contacts-cards__mail"
          >noreply@envato.com</a
        >
      </div>
    </li>
  </ul>

  <ul class="contacts-cards__buttons list">
    <li class="contacts-cards__button-item">
      <button type="button" class="contacts-cards__locations">
        Our Locations
        <!-- <svg class="contacts-cards__locations-icon" width="4.43" height="8">
          <use href=""></use>
        </svg> -->
      </button>
    </li>
    <li class="contacts-cards__button-item">
      <button type="button" class="contacts-cards__franchise">
        Franchise
        <!-- <svg class="contacts-cards__locations-icon" width="4.13" height="8">
          <use href=""></use>
        </svg> -->
      </button>
    </li>
  </ul>
</section>
