<section class="contacts section">
  <div class="contacts__container container">
    <h1 class="visually-hidden">Contacts</h1>
    <!-- title to be hidden -->
    <ul class="contacts__list list">
      <li class="contacts__item">
        <b class="contacts__category contacts__category--cafe">CAFE</b>
        <div class="contacts__point">
          <h2 class="contacts__city">Chicago</h2>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__workmode">
          <p class="contacts__workdays">Monday - Friday</p>
          <p class="contacts__workhours">06:00 AM - 10:00 PM</p>
          <p class="contacts__workdays">Saturday - Sunday</p>
          <p class="contacts__workhours">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <a href="tel:+610383766284" class="contacts__phone">
            +61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__mail"
            >noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contacts__item">
        <b class="contacts__category contacts__category--foodtruck"
          >FOOD TRUCK</b
        >
        <div class="contacts__point">
          <h2 class="contacts__city">Los Angeles</h2>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__workmode">
          <div class="contacts__weekdays-mode">
            <p class="contacts__workdays">Monday - Friday</p>
            <p class="contacts__workhours">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__weekdays-mode">
            <p class="contacts__workdays">Saturday - Sunday</p>
            <p class="contacts__workhours">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div>
          <a href="tel:+610383766284" class="contacts__phone">
            +61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__mail">
            noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contacts__item">
        <b class="contacts__category contacts__category--cafe">CAFE</b>
        <div class="contacts__point">
          <h2 class="contacts__city">New York</h2>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__workmode">
          <p class="contacts__workdays">Monday - Friday</p>
          <p class="contacts__workhours">06:00 AM - 10:00 PM</p>
          <p class="contacts__workdays">Saturday - Sunday</p>
          <p class="contacts__workhours">08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <a href="tel:+610383766284" class="contacts__phone">
            +61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__mail"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>

    <ul class="contacts__buttons list">
      <li class="contacts__button-item">
        <button type="button" class="contacts__locations">
          Our Locations
          <!-- <svg class="contacts__locations-icon" width="4.43" height="8">
          <use href=""></use>
        </svg> -->
        </button>
      </li>
      <li class="contacts__button-item">
        <button type="button" class="contacts__franchise">
          Franchise
          <!-- <svg class="contacts__locations-icon" width="4.13" height="8">
          <use href=""></use>
        </svg> -->
        </button>
      </li>
    </ul>
  </div>
</section>
