<section class="reviewers">
  <div class="container">
    <h2 class="reviews__title visually-hidden">Customer Reviews</h2>
    <div class="reviewers__wrap">
      <div class="reviewers__info">
        <p class="reviewers__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="reviewers__name">Emily, Los Angeles</p>
    </div>
    <div class="reviewers__wrap">
      <div class="reviewers__info">
        <p class="reviewers__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="reviewers__name">Vasya, Kyiv</p>
    </div>
    <div class="reviewers__wrap">
      <div class="reviewers__info">
        <p class="reviewers__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="reviewers__name">Masha, Lviv</p>
    </div>
  </div>
</section>
