<footer>
   <div class="footer-up container">
      <div class="container">
      <div class="footer-column">
         <h3 class="footer-title-small">homemade ice cream made</h3>
         <h2 class="footer-title-large">with passion</h2>
         </div>
      </div>
      <div class="footer-column">
         <ul class="footer-column-list">
         <li class="footer-social-item">
            <a class="footer-social-link" href="#">
            <svg class="footer-social-icon__link">
               <use href="./images/github.svg"></use>
            </svg>
            </a>
         </li>
         <li class="footer-social-item">
            <a class="footer-social-link" href="#">
            <svg class="footer-social-icon__link">
               <use href="./images/telegram.svg"></use>
               </svg>
            </a>
         </li>
         <li class="footer-social-item">
            <a class="footer-social-link" href="#">
            <svg class="footer-social-icon__link">
               <use href="./images/facebook.svg"></use>
            </svg>
            </a>
         </li>
         </ul> 
         <p class="footer-text-column">
         Feel free to contact
         <span class="text-color">+61 (0) 383 766 284</span>
         </p>
      </div>
   </div>
   <div class="footer-copy">
      <div class="container">
         <div class="footer-column-copyright">
         <div class="copyright">
            <p class="footer-copyright-text">
            © 2022 - IceCream.<br />
            All Rights Reserved.
            </p>
         </div>
         </div>
      </div>
   </div>
   </footer>