<!-- Gallery - @Dmytro -->
<section class="gallery">
  <div class="gallery-field"></div>
  <h2 class="visually-hidden">Gallery</h2>
  <div class="gallery-container">
    <div class="first-img img-gallery">
      <picture>
        <!-- Изображение для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/imgdesktop/img1@1x.jpg 1x,
            ./images/gallery/imgdesktop/img1@2x.jpg 2x
          "
        />
        <!-- Изображение для планшета -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/imgtablet/img1@1x.jpg 1x,
            ./images/gallery/imgtablet/img1@2x.jpg 2x
          "
        />
        <!-- Изображение для мобильных девайсов -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/imgmob/img1@1x.jpg 1x,
            ./images/gallery/imgmob/img1@2x.jpg 2x
          "
        />
        <img
          class="photo"
          src="./images/gallery/imgspare/img1.jpg"
          alt="ice-cream"
        />
      </picture>
    </div>
    <div class="img-gallery">
      <picture>
        <!-- Изображение для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/imgdesktop/img2@1x.jpg 1x,
            ./images/gallery/imgdesktop/img2@2x.jpg 2x
          "
        />
        <!-- Изображение для планшета -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/imgtablet/img2@1x.jpg 1x,
            ./images/gallery/imgtablet/img2@2x.jpg 2x
          "
        />
        <!-- Изображение для мобильных девайсов -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/imgmob/img2@1x.jpg 1x,
            ./images/gallery/imgmob/img2@2x.jpg 2x
          "
        />
        <img
          class="photo"
          src="./images/gallery/imgspare/img2.jpg"
          alt="ice-cream"
        />
      </picture>
      <picture>
        <!-- Изображение для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/imgdesktop/img3@1x.jpg 1x,
            ./images/gallery/imgdesktop/img3@2x.jpg 2x
          "
        />
        <!-- Изображение для планшета -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/imgtablet/img3@1x.jpg 1x,
            ./images/gallery/imgtablet/img3@2x.jpg 2x
          "
        />
        <!-- Изображение для мобильных девайсов -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/imgmob/img3@1x.jpg 1x,
            ./images/gallery/imgmob/img3@2x.jpg 2x
          "
        />
        <img
          class="photo"
          src="./images/gallery/imgspare/img3.jpg"
          alt="ice-cream"
        />
      </picture>
    </div>
    <div class="img-gallery">
      <picture>
        <!-- Изображение для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/imgdesktop/img4@1x.jpg 1x,
            ./images/gallery/imgdesktop/img4@2x.jpg 2x
          "
        />
        <!-- Изображение для планшета -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/imgtablet/img4@1x.jpg 1x,
            ./images/gallery/imgtablet/img4@2x.jpg 2x
          "
        />
        <!-- Изображение для мобильных девайсов -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/imgmob/img4@1x.jpg 1x,
            ./images/gallery/imgmob/img4@2x.jpg 2x
          "
        />
        <img
          class="photo"
          src="./images/gallery/imgspare/img4.jpg"
          alt="ice-cream"
        />
      </picture>
      <picture>
        <!-- Изображение для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/imgdesktop/img5@1x.jpg 1x,
            ./images/gallery/imgdesktop/img5@2x.jpg 2x
          "
        />
        <!-- Изображение для планшета -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/imgtablet/img5@1x.jpg 1x,
            ./images/gallery/imgtablet/img5@2x.jpg 2x
          "
        />
        <!-- Изображение для мобильных девайсов -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/imgmob/img5@1x.jpg 1x,
            ./images/gallery/imgmob/img5@2x.jpg 2x
          "
        />
        <img
          class="photo"
          src="./images/gallery/imgspare/img5.jpg"
          alt="ice-cream"
        />
      </picture>
    </div>
    <div class="fourth-img img-gallery">
      <picture>
        <!-- Изображение для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/imgdesktop/img6@1x.jpg 1x,
            ./images/gallery/imgdesktop/img6@2x.jpg 2x
          "
        />
        <!-- Изображение для планшета -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/imgtablet/img6@1x.jpg 1x,
            ./images/gallery/imgtablet/img6@2x.jpg 2x
          "
        />
        <!-- Изображение для мобильных девайсов -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/imgmob/img6@1x.jpg 1x,
            ./images/gallery/imgmob/img6@2x.jpg 2x
          "
        />
        <img
          class="photo"
          src="./images/gallery/imgspare/img6.jpg"
          alt="ice-cream"
        />
      </picture>
      <picture>
        <!-- Изображение для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/imgdesktop/img7@1x.jpg 1x,
            ./images/gallery/imgdesktop/img7@2x.jpg 2x
          "
        />
        <!-- Изображение для планшета -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/imgtablet/img7@1x.jpg 1x,
            ./images/gallery/imgtablet/img7@2x.jpg 2x
          "
        />
        <!-- Изображение для мобильных девайсов -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/imgmob/img7@1x.jpg 1x,
            ./images/gallery/imgmob/img7@2x.jpg 2x
          "
        />
        <img
          class="photo"
          src="./images/gallery/imgspare/img7.jpg"
          alt="ice-cream"
        />
      </picture>
    </div>
    <div class="fifth-img img-gallery">
      <picture>
        <!-- Изображение для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/imgdesktop/img8@1x.jpg 1x,
            ./images/gallery/imgdesktop/img8@2x.jpg 2x
          "
        />
        <!-- Изображение для планшета -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/imgtablet/img8@1x.jpg 1x,
            ./images/gallery/imgtablet/img8@2x.jpg 2x
          "
        />
        <!-- Изображение для мобильных девайсов -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/imgmob/img8@1x.jpg 1x,
            ./images/gallery/imgmob/img8@2x.jpg 2x
          "
        />
        <img
          class="photo"
          src="./images/gallery/imgspare/img8.jpg"
          alt="ice-cream"
        />
      </picture>
      <picture>
        <!-- Изображение для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/imgdesktop/img9@1x.jpg 1x,
            ./images/gallery/imgdesktop/img9@2x.jpg 2x
          "
        />
        <!-- Изображение для планшета -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/imgtablet/img9@1x.jpg 1x,
            ./images/gallery/imgtablet/img9@2x.jpg 2x
          "
        />
        <!-- Изображение для мобильных девайсов -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/imgmob/img9@1x.jpg 1x,
            ./images/gallery/imgmob/img9@2x.jpg 2x
          "
        />
        <img
          class="photo"
          src="./images/gallery/imgspare/img9.jpg"
          alt="ice-cream"
        />
      </picture>
    </div>
    <div class="img-gallery">
      <picture>
        <!-- Изображение для десктопа -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallery/imgdesktop/img10@1x.jpg 1x,
            ./images/gallery/imgdesktop/img10@2x.jpg 2x
          "
        />
        <!-- Изображение для планшета -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/imgtablet/img10@1x.jpg 1x,
            ./images/gallery/imgtablet/img10@2x.jpg 2x
          "
        />
        <!-- Изображение для мобильных девайсов -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/imgmob/img10@1x.jpg 1x,
            ./images/gallery/imgmob/img10@2x.jpg 2x
          "
        />
        <img
          class="photo"
          src="./images/gallery/imgspare/img10.jpg"
          alt="ice-cream"
        />
      </picture>
    </div>
  </div>
</section>
