<!-- Gallery - @Dmytro -->
<section class="section-gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery ice cream</h2>
    <div class="gallery" id="gallery">
      <div class="gallery__container">
        <picture class="gallery__pict">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/ice1-desck.jpg    1x,
              ./images/gallery/ice1-desck-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/ice1-tab.jpg    1x,
              ./images/gallery/ice1-tab-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/gallery/ice1-mob.jpg    1x,
              ./images/gallery/ice1-mob-2x.jpg 2x
            "
          />
          <img class="lazyload"
            data-src="./images/gallery/ice1-desck.jpg"
            alt="ice cream"
            width="300"
            height="300"
          />
        </picture>
      </div>
      <div class="gallery__container gallery__container--mt">
        <picture class="gallery__pict">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/ice2-desck.jpg    1x,
              ./images/gallery/ice2-desck-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/ice2-tab.jpg    1x,
              ./images/gallery/ice2-tab-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/gallery/ice2-mob.jpg    1x,
              ./images/gallery/ice2-mob-2x.jpg 2x
            "
          />
          <img class="lazyload"
            data-src="./images/gallery/ice2-desck.jpg"
            alt="ice cream"
            width="300"
            height="300"
          />
        </picture>
        <picture class="gallery__pict">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/ice3-desck.jpg    1x,
              ./images/gallery/ice3-desck-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/ice3-tab.jpg    1x,
              ./images/gallery/ice3-tab-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/gallery/ice3-mob.jpg    1x,
              ./images/gallery/ice3-mob-2x.jpg 2x
            "
          />
          <img class="lazyload"
            data-src="./images/gallery/ice3-desck.jpg"
            alt="ice cream"
            width="300"
            height="300"
          />
        </picture>
      </div>
      <div class="gallery__container">
        <picture class="gallery__pict big">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/ice4-desck.jpg    1x,
              ./images/gallery/ice4-desck-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/ice4-tab.jpg    1x,
              ./images/gallery/ice4-tab-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/gallery/ice4-mob.jpg    1x,
              ./images/gallery/ice4-mob-2x.jpg 2x
            "
          />
          <img class="lazyload"
            data-src="./images/gallery/ice4-desck.jpg"
            alt="ice cream"
            width="300"
            height="300"
          />
        </picture>
        <picture class="gallery__pict">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/ice5-desck.jpg    1x,
              ./images/gallery/ice5-desck-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/ice5-tab.jpg    1x,
              ./images/gallery/ice5-tab-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/gallery/ice5-mob.jpg    1x,
              ./images/gallery/ice5-mob-2x.jpg 2x
            "
          />
          <img class="lazyload"
            data-src="./images/gallery/ice5-desck.jpg"
            alt="ice cream"
            width="300"
            height="300"
          />
        </picture>
      </div>
      <div class="gallery__container gallery__container--mt">
        <picture class="gallery__pict">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/ice6-desck.jpg    1x,
              ./images/gallery/ice6-desck-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/ice6-tab.jpg    1x,
              ./images/gallery/ice6-tab-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/gallery/ice6-mob.jpg    1x,
              ./images/gallery/ice6-mob-2x.jpg 2x
            "
          />
          <img class="lazyload"
            data-src="./images/gallery/ice6-desck.jpg"
            alt="ice cream"
            width="300"
            height="300"
          />
        </picture>
        <picture class="gallery__pict">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/ice7-desck.jpg    1x,
              ./images/gallery/ice7-desck-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/ice7-tab.jpg    1x,
              ./images/gallery/ice7-tab-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/gallery/ice7-mob.jpg    1x,
              ./images/gallery/ice7-mob-2x.jpg 2x
            "
          />
          <img class="lazyload"
            data-src="./images/gallery/ice7-desck.jpg"
            alt="ice cream"
            width="300"
            height="300"
          />
        </picture>
      </div>
      <div class="gallery__container">
        <picture class="gallery__pict">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/ice8-desck.jpg    1x,
              ./images/gallery/ice8-desck-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/ice8-tab.jpg    1x,
              ./images/gallery/ice8-tab-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/gallery/ice8-mob.jpg    1x,
              ./images/gallery/ice8-mob-2x.jpg 2x
            "
          />
          <img class="lazyload"
            data-src="./images/gallery/ice8-desck.jpg"
            alt="ice cream"
            width="300"
            height="300"
          />
        </picture>
        <picture class="gallery__pict">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/ice9-desck.jpg    1x,
              ./images/gallery/ice9-desck-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/ice9-tab.jpg    1x,
              ./images/gallery/ice9-tab-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/gallery/ice9-mob.jpg    1x,
              ./images/gallery/ice9-mob-2x.jpg 2x
            "
          />
          <img class="lazyload"
            data-src="./images/gallery/ice9-desck.jpg"
            alt="ice cream"
            width="300"
            height="300"
          />
        </picture>
      </div>
      <div class="gallery__container">
        <picture class="gallery__pict">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/ice10-desck.jpg    1x,
              ./images/gallery/ice10-desck-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/ice10-tab.jpg    1x,
              ./images/gallery/ice10-tab-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/gallery/ice10-mob.jpg    1x,
              ./images/gallery/ice10-mob-2x.jpg 2x
            "
          />
          <img class="lazyload"
            data-src="./images/gallery/ice10-desck.jpg"
            alt="ice cream"
            width="300"
            height="300"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
