<header class="hero-header">
  <div class="container">
    <div class="hero-header-main-nav">
      <a class="hero-header-logo" href="#">
        <svg class="hero-header-logo__icon">
          <use
            href="./images/hero-header/iconlib.svg#icon-hero-header-logo"
          ></use>
        </svg>
      </a>
      <nav class="hero-header-site-nav">
        <ul class="hero-header-site-nav__list">
          <li class="hero-header-site-nav__item">
            <a class="hero-header-site-nav__link" href="#">Home</a>
          </li>
          <li class="hero-header-site-nav__item">
            <a class="hero-header-site-nav__link" href="#">About us</a>
          </li>
          <li class="hero-header-site-nav__item">
            <a class="hero-header-site-nav__link" href="#">How it’s made?</a>
          </li>
          <li class="hero-header-site-nav__item">
            <a class="hero-header-site-nav__link" href="#">Our products</a>
          </li>
          <li class="hero-header-site-nav__item">
            <a class="hero-header-site-nav__link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <ul class="hero-header-button__list">
        <li class="hero-header-button__item">
          <button
            type="button"
            class="hero-header-mobile-menu__button__open"
            data-menu-button
          >
            <svg width="20" height="12">
              <use href="./images/hero-header/iconlib.svg#icon-burger"></use>
            </svg>
          </button>
        </li>
        <li class="hero-header-button__item">
          <button class="hero-header__buy__button">
            Buy now
            <svg class="hero-header__buy__button__icon">
              <use
                href="./images/hero-header/iconlib.svg#icon-buy-now-button-icon"
              ></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>

    <div class="hero-header-mobile-menu" data-menu>
      <div class="hero-header-mobile-menu-container">
        <button
          type="button"
          class="hero-header-mobile-menu__button__close"
          data-menu-close
        >
          <svg width="14" height="14">
            <use
              href="./images/hero-header/iconlib.svg#icon-burger-close"
            ></use>
          </svg>
        </button>

        <button class="hero-header-mobile__buy__button">
          Buy now
          <svg width="4" height="8">
            <use href="#"></use>
          </svg>
        </button>

        <nav class="hero-header-mobile-site-nav">
          <ul class="hero-header-mobile-site-nav__list">
            <li class="hero-header-mobile-site-nav__item">
              <a class="hero-header-mobile-site-nav__link" href="#">Home</a>
            </li>
            <li class="hero-header-mobile-site-nav__item">
              <a class="hero-header-mobile-site-nav__link" href="#">About us</a>
            </li>
            <li class="hero-header-mobile-site-nav__item">
              <a class="hero-header-mobile-site-nav__link" href="#"
                >How it’s made?</a
              >
            </li>
            <li class="hero-header-mobile-site-nav__item">
              <a class="hero-header-mobile-site-nav__link" href="#"
                >Our products</a
              >
            </li>
            <li class="hero-header-mobile-site-nav__item">
              <a class="hero-header-mobile-site-nav__link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="hero-container">
      <div class="hero-title__column">
        <h1 class="hero__title">
          ice cream made with
          <span class="hero__title--red">passion</span>
        </h1>
        <ul class="hero-button__list">
          <li class="hero-button__item">
            <button class="hero-button" type="button">Products</button>
          </li>
          <li class="hero-button__item">
            <button class="hero-button--red" type="button">
              How it’s made?
            </button>
          </li>
        </ul>
      </div>
      <div class="hero-numbers__column">
        <ul class="hero-header__numbers__list">
          <li class="hero__numbers__item">
            <p class="hero__numbers__text">
              <span class="hero__numbers__text--red">16</span>cafes
            </p>
          </li>
          <li class="hero__numbers__item">
            <p class="hero__numbers__text--foodtrucks">
              <span class="hero__numbers__text--foodtrucks--red">23</span>food
              trucks
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<script src="./js/mobile-menu.js"></script>
