<header class="hero-header">
  <div class="hero-header-fixed">
    <div class="container hero-header-fixed-main-nav">
      <a class="hero-header-logo" aria-label="page-logo" href="./index.html">
        <svg class="hero-header-logo__icon">
          <use
            href="./images/hero-header/iconlib.svg#icon-hero-header-logo"
          ></use>
        </svg>
      </a>
      <nav class="hero-header-site-nav">
        <ul class="hero-header-site-nav__list">
          <li class="hero-header-site-nav__item">
            <a class="hero-header-site-nav__link" href="./index.html"> Home</a>
          </li>
          <li class="hero-header-site-nav__item">
            <a
              class="hero-header-site-nav__link"
              href="#advantages"
              target="_self"
              >About us</a
            >
          </li>
          <li class="hero-header-site-nav__item">
            <a class="hero-header-site-nav__link" href="#about" target="_self"
              >How it’s made?</a
            >
          </li>
          <li class="hero-header-site-nav__item">
            <a
              class="hero-header-site-nav__link"
              href="#products"
              target="_self"
              >Our products</a
            >
          </li>
          <li class="hero-header-site-nav__item">
            <a
              class="hero-header-site-nav__link"
              href="#contacts"
              target="_self"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
      <ul class="hero-header-button__list">
        <li class="hero-header-button__item">
          <button
            type="button"
            class="hero-header-mobile-menu__button__open"
            aria-label="Menu"
            data-menu-button-sticky
          >
            <svg width="20" height="12">
              <use href="./images/hero-header/iconlib.svg#icon-burger"></use>
            </svg>
          </button>
        </li>
        <li class="hero-header-button__item">
          <button class="btn btn__lite btn__header-wide-slime">
            Buy now
            <svg class="hero-header__buy__button__icon">
              <use
                href="./images/hero-header/iconlib.svg#icon-buy-now-button-icon"
              ></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="container hero-header__slider">
    <div class="hero-header-main-nav">
      <a class="hero-header-logo" href="./index.html">
        <svg class="hero-header-logo__icon">
          <use
            href="./images/hero-header/iconlib.svg#icon-hero-header-logo"
          ></use>
        </svg>
      </a>
      <nav class="hero-header-site-nav">
        <ul class="hero-header-site-nav__list">
          <li class="hero-header-site-nav__item">
            <a class="hero-header-site-nav__link" href="./index.html"> Home</a>
          </li>
          <li class="hero-header-site-nav__item">
            <a
              class="hero-header-site-nav__link"
              href="#advantages"
              target="_self"
              >About us</a
            >
          </li>
          <li class="hero-header-site-nav__item">
            <a class="hero-header-site-nav__link" href="#about" target="_self"
              >How it’s made?</a
            >
          </li>
          <li class="hero-header-site-nav__item">
            <a
              class="hero-header-site-nav__link"
              href="#products"
              target="_self"
              >Our products</a
            >
          </li>
          <li class="hero-header-site-nav__item">
            <a
              class="hero-header-site-nav__link"
              href="#contacts"
              target="_self"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
      <ul class="hero-header-button__list">
        <li class="hero-header-button__item">
          <button
            type="button"
            class="hero-header-mobile-menu__button__open"
            aria-label="Menu"
            data-menu-button
          >
            <svg width="20" height="12">
              <use href="./images/hero-header/iconlib.svg#icon-burger"></use>
            </svg>
          </button>
        </li>
        <li class="hero-header-button__item">
          <button class="btn btn__lite btn__header-wide-slime">
            Buy now
            <svg class="hero-header__buy__button__icon">
              <use
                href="./images/hero-header/iconlib.svg#icon-buy-now-button-icon"
              ></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>

    <div class="hero-header-mobile-menu" data-menu>
      <div class="hero-header-mobile-menu-container">
        <button
          type="button"
          class="hero-header-mobile-menu__button__close"
          aria-label="Close menu"
          data-menu-close
        >
          <svg
            class="hero-header-mobile-menu__button__close__icon"
            width="14"
            height="14"
          >
            <use
              href="./images/hero-header/iconlib.svg#icon-burger-close"
            ></use>
          </svg>
        </button>

        <button
          class="btn btn__lite btn__header-wide-slime btn__header-mobile-menu"
        >
          Buy now
          <svg class="hero-header__buy__button__icon" width="4" height="8">
            <use
              href="./images/hero-header/iconlib.svg#icon-buy-now-button-icon"
            ></use>
          </svg>
        </button>

        <nav class="hero-header-mobile-site-nav">
          <ul class="hero-header-mobile-site-nav__list">
            <li class="hero-header-mobile-site-nav__item">
              <a class="hero-header-mobile-site-nav__link" href="./index.html"
                >Home</a
              >
            </li>
            <li class="hero-header-mobile-site-nav__item">
              <a
                class="hero-header-mobile-site-nav__link hero-header-mobile-close about-close"
                href="#advantages"
                target="_self"
                >About us</a
              >
            </li>
            <li class="hero-header-mobile-site-nav__item">
              <a
                class="hero-header-mobile-site-nav__link how-made-close"
                href="#about"
                target="_self"
                >How it’s made?</a
              >
            </li>
            <li class="hero-header-mobile-site-nav__item">
              <a
                class="hero-header-mobile-site-nav__link products-close"
                href="#products"
                target="_self"
                >Our products</a
              >
            </li>
            <li class="hero-header-mobile-site-nav__item">
              <a
                class="hero-header-mobile-site-nav__link contacts-close"
                href="#contacts"
                target="_self"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="hero-container">
      <div class="hero-title__column">
        <h1 class="hero__title">
          ice cream made with
          <span class="hero__title--red">passion</span>
        </h1>
        <ul class="hero-button__list">
          <li class="hero-button__item">
            <a href="#products" target="_self" class="hero-button">
              Products
            </a>
          </li>
          <li class="hero-button__item">
            <a href="#about" target="_self" class="hero-button--red">
              How it’s made?
            </a>
          </li>
        </ul>
      </div>

      <div class="hero-numbers__column">
        <ul class="hero-header__numbers__list">
          <li class="hero__numbers__item">
            <p class="hero__numbers__text--red">16</p>
            <p class="hero__numbers__text--cafes">cafes</p>
          </li>
          <li class="hero__numbers__item">
            <p class="hero__numbers__text--foodtruks-red">23</p>
            <p class="hero__numbers__text">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero-header__spoiler">
      <p class="hero-header__spoiler__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
        <br />
        <span class="hero-header__spoiler__text--easter" data-text
          >A large portion of ice cream is the best way to end a hard day.
        </span>
      </p>
      <button
        class="hero-header__spoiler__button"
        aria-label="Read more"
        data-text-button
        type="button"
      >
        <svg class="hero-header__spoiler__icon">
          <use href="./images/hero-header/iconlib.svg#icon-arrow-button"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
