<section class="products section" id="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__heading">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--ice-cream">
        <h3 class="products__title products__title--ice-cream">ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button" aria-label="Ice Cream: Read more">
          <svg class="button__icon" width="40" height="40">
            <use
              href="/src/images/products/arrow-button.svg#icon-arrow-button"
            ></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--ice-coffee">
        <h3 class="products__title products__title--ice-coffee">ice coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button" aria-label="Ice Coffee: Read more">
          <svg class="button__icon" width="40" height="40">
            <use
              href="/src/images/products/arrow-button.svg#icon-arrow-button"
            ></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--milkshakes">
        <h3 class="products__title products__title--milkshakes">milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button" aria-label="Milkshakes: Read more">
          <svg class="button__icon" width="40" height="40">
            <use
              href="/src/images/products/arrow-button.svg#icon-arrow-button"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
