<section class="products section">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h1 class="products__heading">products</h1>
    <ul class="products__list">
      <li class="products__item products__item--ice-cream">
        <h2 class="products__title products__title--ice-cream">ice cream</h2>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button"></button>
      </li>
      <li class="products__item products__item--ice-coffee">
        <h2 class="products__title products__title--ice-coffee">ice coffee</h2>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__icon"></button>
      </li>
      <li class="products__item products__item--milkshakes">
        <h2 class="products__title products__title--milkshakes">milkshakes</h2>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__icon"></button>
      </li>
    </ul>
  </div>
</section>
